<div class="row mb-4 project">
  <div class="col-md-7">
  <h2 class="event-title">Title: {{event.title}}</h2>
  <p class="event-id">ID: {{event.id}}</p>
  <p class="weather-icon">{{{get_display_displayIcon}}}</p>
  <p class="event-desc">Description: {{event.event_description}}</p>
  <p class="event-creator">Created by: {{event.creator_id}}</p>
  <img class="image" source="/public/images/party.jpeg" aria-label="photo"></p>
  <p class="event-price">Registration Fee: $ </p>
  <p>
    <button class="btn btn-primary">Register Now</button>
  </p>
  </div>
</div>