<div class="row card mb-4 project">
  <div class="card-container col-md-7">
  <h3 class="event-title">{{data.events.title}}</h3>
  <p class="event-location"><b>Location:</b> {{data.events.location_city}}, {{data.events.location_state}}</p>
  <p class="event-date"><b>Date:</b> {{data.formattedDate}}</p>
  <p class="event-time"><b>Time:</b> {{data.formattedTime}}</p>
  <p class="weather-icon"><b>Weather:</b> {{{get_display_displayIcon}}}</p>
  <p class="event-desc"><b>Description:</b> {{data.events.event_description}}</p>
  <p class="event-creator"><b>Created by:</b> {{data.events.user.name}}</p>
  {{#each data.events.photos as |photo|}}
  <img class="image" src="/images/{{photo.image}}" aria-label="photo"></img>
  {{/each}}
  <p class="event-price"><b>Registration Fee:</b> ${{data.events.fee}} </p>
  <p>
    {{#if data.loggedIn}}
    <button class="btn btn-primary" id = "registerButton">Register Now</button>
    {{/if}}
  </p>
  </div>
</div>
<script src="/js/rsvp.js"></script>
