<div class="row card mb-4 project">
  <div class="card-container col-md-7">
  <h3 class="event-title">Title: {{data.events.title}}</h3>
  <p class="event-id">ID: {{data.events.id}}</p>
  <p class="event-date">Date: {{data.formattedDate}}</p>
  <p class="event-time">Time: {{data.formattedTime}}</p>
  <p class="weather-icon">Weather: {{{get_display_displayIcon}}}</p>
  <p class="event-desc">Description: {{data.events.event_description}}</p>
  <p class="event-creator">Created by: User {{data.events.user_name}}</p>
  {{#each data.events.photos as |photo|}}
  <img class="image" src="/images/{{photo.image}}" aria-label="photo">Photo: </img>
  {{/each}}
  <p class="event-price">Registration Fee: ${{data.events.fee}} </p>
  <p id="userId">{{data.userId}}</p>
  <p>
    {{#if data.loggedIn}}
    <button class="btn btn-primary" id = "registerButton">Register Now</button>
    {{/if}}
  </p>
  </div>
</div>
<script src="/js/rsvp.js"></script>
