<div class="row card mb-4 project">
  <div class="card-container col-md-7">
  <h3 class="event-title">Title: {{data.events.title}}</h3>
  <p class="event-id">ID: <p id="eventId">{{data.events.id}}</p></p>
  <p class="event-date">Date: {{data.formattedDate}}</p>
  <p class="weather-icon">Weather: {{{get_display_displayIcon}}}</p>
  <p class="event-desc">Description: {{data.events.event_description}}</p>
  <p class="event-creator">Created by: User {{data.events.user.name}}</p>
  <img class="image" source={{photo.image}} aria-label="photo">Photo: </p>
  <p class="event-price">Registration Fee: ${{data.events.fee}} </p>
  <p id="userId">{{data.userId}}</p>
  <p>
    {{#if data.loggedIn}}
    <button class="btn btn-primary" id = "registerButton">Register Now</button>
    {{/if}}
  </p>
  </div>
</div>
<script src="/js/rsvp.js"></script>