<div class="row card mb-4 project">
  <div class="card-container col-md-7">
  <h3 class="event-title">Title: {{events.title}}</h3>
  <p class="event-id">ID: {{events.id}}</p>
  <p class="event-date">Date: {{formattedDate}}</p>
  <p class="weather-icon">Weather: {{{get_display_displayIcon}}}</p>
  <p class="event-desc">Description: {{events.event_description}}</p>
  <p class="event-creator">Created by: User {{events.user.name}}</p>
  <img class="image" source={{photo.image}} aria-label="photo">Photo: </p>
  <p class="event-price">Registration Fee: ${{events.fee}} </p>
  <p>
    <button href="/registration/{{reg.id}}" class="btn btn-primary">Register Now</button>
  </p>
  </div>
</div>
<h1>Weather</h1>
<p>City: {{ city }}</p>
<p>Temp: {{ temp }}</p>
<p>Humidity: {{ humidity }}</p>
<p>Day: {{ day }}</p>
<h2><span style="color: red">⬆</span> High: {{high}}</h2>
<h2><span style="color: blue">⬇</span> Low: {{low}}</h2>
<div>
    <div>🌄 Morning: {{morn }}</div>
    <div>☀ Day: {{dayTemp}}</div>
    <div>🌅 Evening: {{eve}}</div>
    <div>🌙 Night: {{night}}</div>
</div>