<!-- Loop over each object in the projects array -->
{{#each events as |event| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_display_displayIcon}}}
      <a href="/event/{{event.id}}">{{event.name}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <a href="/event/{{event.id}}" class="events-btn">
      {{event.title}}
    </a>
  </div>
</div>
{{/each}}


