<style>
    #MainDisplay {
        display: grid;
        background: #dadada;
    }

</style>

<div >

</div>
<h1>Weather</h1>
<p>City: {{ city }}</p>
<p>Temp: {{ temp }}</p>
<p>Humidity: {{ humidity }}</p>
<p>Day: {{ day }}</p>
<h2><span style="color: red">⬆</span> High: {{high}}</h2>
<h2><span style="color: blue">⬇</span> Low: {{low}}</h2>
<div>
    <div>🌄 Morning: {{morn }}</div>
    <div>☀ Day: {{dayTemp}}</div>
    <div>🌅 Evening: {{eve}}</div>
    <div>🌙 Night: {{night}}</div>
</div>